<?xml version="1.0"?>
<ruleset name="wp-dev">
    <arg value="s"/>
    <file>./src</file>
    <config name="testVersion" value="8.0-"/>
    <rule ref="PHPCompatibilityWP">
        <include-pattern>*\.php$</include-pattern>
    </rule>
    <rule ref="WordPress">
    </rule>
    <!--
        Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
        See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
    -->
    <ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />
</ruleset>